{% extends 'components/base.html' %}

{% load static %}

{% block site_title %}ເຄື່ອນໄຫວກິດຈະກຳ |{% endblock %}

{% block content %}

<div class="container">
  <img src="{% static 'images/student77.jpg' %}">
  <div class="centered">
    <h1><b></b></h1>
    <h2><b></b></h2>
  </div>
</div>
   
    <div>
      <!-- 1 -->
      <div class="responsive">
        <div class="gallery">
          <img src="{% static 'images/003.jpg' %}">
          <div class="desc">ເນື່ອງໃນໂອກາດສົ່ງທ້າຍປີເກົ່າຕ້ອນຮັບປີໃໝ່ ປີ 2025 ນີ້, ວິທະຍາໄລ ວິຊາຊີບ ວິຕ້າ VITA vocational college ຂໍອວຍພອນໄຊມາຍັງຜູ້ອຳນວຍການ,ຮອງຜູ້ອຳນວຍການ,ຄະນະບໍລິຫານ, ຄູອາຈານ ແລະ ນ້ອງນັກສຶກສາທຸກຄົນຈົ່ງປະສົບຜົນສຳເລັດທຸກຢ່າງ 1
          </div>
        </div>
      </div>

      <!-- 2 -->
      <div class="responsive">
        <div class="gallery">
          <img src="{% static 'images/student10.jpg' %}">
          <div class="desc">ພາບບັນຍາກາດໃນການບາສີສູ່ຂວັນ ແລະ ງານສະເຫຼີມສະຫຼອງປີໃໝ່ລາວ ຄສ 2024, ຄັ້ງວັນທີ 11 ເມສາ 2024, ທີ່ ວິທະຍາໄລ ວິຊາຊີບ ວິຕ້າ VITA vocational 
            college ຂອບໃຈນ້ອງນັກສຶກສາໝົດທຸກຄົນທີ່ອວຍພອນປີໃໝ່ມາຍັງ ຄູ-ອາຈານທຸກຄົນຂໍອວຍພອນໄຊມາຍັງສະມາຊິກຄອບຄົວ ວິຕ້າ ທຸກຄົນ ຈົ່ງພົບແຕ່ສິ່ງດີດີໃນຊີວິດດ້ວຍເຖີນ 🙏#ສົນໃຈຮຽນໂທໄດ້ທີເບີ02055566217
          </div>
        </div>
      </div>

      <!-- 3 -->
      <div class="responsive">
        <div class="gallery">
          <img src="{% static 'images/student1.jpg' %}">
          <div class="desc">ງານລ້ຽງສົ່ງທ້າຍປີເກົ່າຕ້ອນຮັບປີໃໝ່ລາວ ພສ 2568
          ຈັດຂຶ້ນ ວັນທີ 10 ເມສາ 2025, ທີ່ ວິທະຍາໄລ ວິຊາຊີບ ວິຕ້າ VITA vocational college
          ຂໍໃຫ້ຄະນະບໍລິຫານ, ຄູອາຈານ ແລະ ນັກສຶກສາ ທຸກຄົນມີແຕ່ສິງດີດີ
          ໂຊກດີປີໃໝ່ລາວ.
          </div>
        </div>
      </div>

      <!-- 4 -->
      <div class="responsive">
        <div class="gallery">
          <img src="{% static 'images/ວັນປູກຕົ້ນໄມ້ແຫ່ງຊາດ.jpg' %}">
          <div class="desc">ກິດຈະກຳ ຫຼັງເລີກຮຽນ ຄະນະຄູ-ອາຈານ ວິທະຍາໄລ ວິຊາຊີບ ວິຕ້າ 
          ໄດ້ນໍາພານ້ອງໆນັກສຶກສາ ປູກຕົ້ນໄມ້ທົດແທນເພື່ອ ເນັ້ນ ສ ສີຂຽວ ພາຍໃນເດີ່ນໂຮງຮຽນ.🌴
          ເພື່ອສະເຫຼີມສະຫຼອງ ວັນປູກຕົ້ນໄມ້ແຫ່ງຊາດ ໃນ ວັນທີ 01 ມິຖຸນາ 2024🪴 ທີ່ໄກ້ຈະມາເຖິງນີ້.
          ວິທະຍາໄລ ວິຊາຊີບ ວິຕ້າ VITA vocational college
         📞#02055566217
          </div>
        </div>
      </div>

<!-- 5 -->
      <div class="responsive">
        <div class="gallery">
          <img src="{% static 'images/student7.jpg' %}">
          <div class="desc">ງານລ້ຽງສົ່ງທ້າຍປີເກົ່າຕ້ອນຮັບປີໃໝ່ລາວ ພສ 2568
            ຈັດຂຶ້ນ ວັນທີ 10 ເມສາ 2025, ທີ່ ວິທະຍາໄລ ວິຊາຊີບ ວິຕ້າ VITA vocational college
            ຂໍໃຫ້ຄະນະບໍລິຫານ, ຄູອາຈານ ແລະ ນັກສຶກສາ ທຸກຄົນມີແຕ່ສິງດີດີ
            ໂຊກດີປີໃໝ່ລາວ.
           ☎️02055566217
          </div>
        </div>
      </div>
    

    <!-- 6 -->
      <div class="responsive">
        <div class="gallery">
          <img src="{% static 'images/pic2chai.png' %}">
          <div class="desc">ພາບບັນຍາກາດການຮຽນ-ການສອນ ຫຼັກສູດໄລຍະສັນ ພາສາຈີນ
              ຮຽນພາກຄໍ່າ 👉ວັນອັງຄານ, ວັນພະຫັດ, ວັນເສົາ 
              🧭ເວລາ 18:00-20:00 ໂມງ.
              ວິທະຍາໄລ ວິຊາຊີບ ວິຕ້າ VITA vocational college
              #02055566217
          </div>
        </div>
      </div>
    

    <!-- 7 -->
        <div class="responsive">
        <div class="gallery">
          <img src="{% static 'images/student6.jpg' %}" alt="กิจกรรม 2">
          <div class="desc">ບັນຍາກາດໃນການເລີ່ມການເປີດສົກຮຽນໃໝ່ 2023-2024
          #ຕິດຕໍ່ພົວພັນໄດ້ທີ່ເບີ 020 020 55 566 217
          </div>
         </div>
       </div>

    <!-- 8 -->
      <div class="responsive">
        <div class="gallery">
          <img src="{% static 'images/student5.jpg' %}" alt="กิจกรรม 2">
          <div class="desc">ສະບາຍດີປີໃໝ່ ຄສ 2024, ທຸກຄົນ🙏
          #ວັນທີ 30/12/2023, ວິທະຍາໄລ ວິຊາຊີບ ວິຕ້າຂອງພວກເຮົາໄດ້ຈັດກິດຈະກຳ ສົ່ງທ້າຍປີເກົ່າ ຕ້ອນຮັບປີໃໝ່ ຄສ 2024
         </div>
        </div>
      </div>
  

    <!-- 9 -->
      <div class="responsive">
        <div class="gallery">
          <img src="{% static 'images/student.jpg' %}">
          <div class="desc">ງານລ້ຽງສົ່ງທ້າຍປີເກົ່າຕ້ອນຮັບປີໃໝ່ລາວ ພສ 2568 ຈັດຂຶ້ນ ວັນທີ 10 ເມສາ 2025, ທີ່ ວິທະຍາໄລ ວິຊາຊີບ ວິຕ້າ VITA vocational college ຂໍໃຫ້ຄະນະບໍລິຫານ, ຄູອາຈານ ແລະ ນັກສຶກສາ ທຸກຄົນມີແຕ່ສິງດີດີ ໂຊກດີປີໃໝ່ລາວ  
          </div>
        </div>
      </div>


    <!-- 10 -->
<div class="responsive">
        <div class="gallery">
          <img src="{% static 'images/student2.jpg' %}">
          <div class="desc">ກິດຈະກຳຕ້ອນຮັບວັນຊາດນ້ອງໆແຕ່ລະຄົນບໍ່ມີໃຜຍອມໃຜເລີຍຊົມເຊີຍວັນຊາດທີ 2ທັນວາຄົບຮອບ49ປີຢ່າງສຸດໃຈ            
          </div>
        </div>
      </div>
      

      <!-- 11 -->
<div class="responsive">
        <div class="gallery">
          <img src="{% static 'images/student18.jpg' %}">
          <div class="desc">ພາບບັນຍາກາດ ກິດຈະກຳແລກຂອງຂັວນລະຫ່ວາງ ພະນັກງານ-ອາຈານ ວິທະຍາໄລ ວິຊາຊີບ ວີຕ້າ ແລະ ຄອບຄົວວີຕ້າ ຂອງພວກເຮົາທຸກຄົນ.
          ✅ຄັ້ງວັນທີ 13 ມັງກອນ 2023
          </div>
        </div>
      </div>
      

    <!-- 12 -->
<div class="responsive">
        <div class="gallery">
          <img src="{% static 'images/student19.jpg' %}">
          <div class="desc">ພາບບັນຍາກາດໃນການບາສີສູ່ຂວັນ ແລະ ງານສະເຫຼີມສະຫຼອງປີໃໝ່ລາວ ຄສ 2024, ຄັ້ງວັນທີ 11 ເມສາ 2024, 
            ທີ່ ວິທະຍາໄລ ວິຊາຊີບ ວິຕ້າ VITA vocational college ຂອບໃຈນ້ອງນັກສຶກສາໝົດທຸກຄົນທີ່ອວຍພອນປີໃໝ່ມາຍັງ 
            ຄູ-ອາຈານທຸກຄົນຂໍອວຍພອນໄຊມາຍັງສະມາຊິກຄອບຄົວ ວິຕ້າ ທຸກຄົນ ຈົ່ງພົບແຕ່ສິ່ງດີດີໃນຊີວິດດ້ວຍເຖີນ 🙏
          </div>
        </div>
      </div>
    </div>

  <!-- ສ່ວນສະແດງຊື່ສາຂາ -->
 <div class="w3-container" style="margin-top: 40px;">
  <h3 style="background-color: rgb(168, 199, 241); padding: 10px;">
    ຫຼັກສູດຝຶກອົບຮົມຄ໌ອສໄລຍະສັ້ນ
  </h3>
  <ul class="w3-ul w3-hoverable horizontal-list">
    <li>ສາຂາເຕັກໂນໂລຊີຂໍ້ມູນຂ່າວສານ<br><small>(Information Technology)</small></li>
    <li>ສາຂາອອກແບບກາຟຟິກ<br><small>(Graphic & Multimedia)</small></li>
    <li>ສາຂາບໍລິຫານທຸລະກິດ<br><small>(Business Administration)</small></li>
  </ul>
</div>


  <div class="w3-container" style="margin-top: 40px;">
  <h3 style="background-color: LightSteelBlue; padding: 10px;">
    ຫຼັກສູດຝຶກອົບຮົມຄ໌ອສໄລຍະສັ້ນ
  </h3>
  <ul class="w3-ul w3-hoverable horizontal-list">
    <li>ສາຂາເຕັກໂນໂລຊີຂໍ້ມູນຂ່າວສານ<br><small>(Information Technology)</small></li>
    <li>ສາຂາອອກແບບກາຟຟິກ<br><small>(Graphic & Multimedia)</small></li>
    <li>ສາຂາບໍລິຫານທຸລະກິດ<br><small>(Business Administration)</small></li>
  </ul>
</div>

<div class="w3-container" style="margin-top: 40px;">
  <h3 style="background-color: LightSteelBlue; padding: 10px;">
    ຫຼັກສູດຝຶກອົບຮົມຄ໌ອສໄລຍະສັ້ນ
  </h3>
  <ul class="w3-ul w3-hoverable horizontal-list">
    <li>ສາຂາເຕັກໂນໂລຊີຂໍ້ມູນຂ່າວສານ<br><small>(Information Technology)</small></li>
    <li>ສາຂາອອກແບບກາຟຟິກ<br><small>(Graphic & Multimedia)</small></li>
    <li>ສາຂາບໍລິຫານທຸລະກິດ<br><small>(Business Administration)</small></li>
  </ul>
</div>


{% endblock %}
