{% extends 'components/base.html' %}

{% load static %}

{% block site_title %}O=ໜ້າຫຼັກ |{% endblock %}

{% block content %}

<div class="container">
  <img src="{% static 'images/student77.jpg' %}">
  <div class="centered">
    <h1><b></b></h1>
    <h2><b></b></h2>
  </div>
</div>

 <div class="w3-twothird w3-container">
      <p>
      ການຕັ້ງບູດມື້ນີ້ ທີ່ ໂຮງຮຽນ ນານາຊາດ ກຽດຕິສັກ(KIS) ຮຽນ + ເຮັດວຽກໄປນຳ ໃຊ້ຊີວີດໃນຕ່າງປະເທດ 
👉🏻Study In TAIWAN👈🏻 Chienkuo University, shih chien University, Hungkuang universityBachelorMaster </p>
    </div>
    
    </div>
    <div class="w3-row w3-margin">
    
    <div class="w3-third">
      <img src="{% static "images/pic4Sport.png" %}" style="width:100%;min-height:200px">
    </div>
    <div class="w3-twothird w3-container">
      <h2>Monterosso</h2>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    
    </div>
    <div class="w3-row w3-margin">
    
    <div class="w3-third">
      <img src="{% static "images/pic4Sport.png" %}" style="width:100%;min-height:200px">
    </div>
    <div class="w3-twothird w3-container">
      <h2>Vernazza</h2>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    
    </div>
    <div class="w3-row w3-margin">
    
    <div class="w3-third">
      <img src="{% static "images/pic4Sport.png" %}" style="width:100%;min-height:200px">
    </div>
    <div class="w3-twothird w3-container">
      <h2>Manarola</h2>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    
    </div>
    <div class="w3-row w3-margin">
    
    <div class="w3-third">
      <img src="{% static "images/pic4Sport.png" %}" style="width:100%;min-height:200px">
    </div>
    <div class="w3-twothird w3-container">
      <h2>Corniglia</h2>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    
    </div>
    <div class="w3-row w3-margin">
    
    <div class="w3-third">
      <img src="{% static "images/pic4Sport.png" %}" style="width:100%;min-height:200px">
    </div>
    <div class="w3-twothird w3-container">
      <h2>Riomaggiore</h2>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>   
    </div>


  <div style="color: red;"> 
      <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a class="active" href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">7</a>
        <a href="#">&raquo;</a><br>
        <br>
        <br>
       </div>
    </div>



{% endblock %}
