{% extends 'components/base.html' %}

{% load static %}

{% block site_title %}ໂພດເຕີສະໜັກຮຽນ|{% endblock %}

{% block content %}

<div class="container">
  <img src="{% static 'images/student77.jpg' %}">
  <div class="centered">
    <h1><b></b></h1>
    <h2><b></b></h2>
  </div>
</div>
    
<div class="gallery-container">

  <div class="gallery-itemm">
    <div class="galleryyy">
      <img src="{% static 'images/ຄ໋ອດ ພາສາຈີນ.png' %}" alt="กิจกรรม 1">
    </div>
    <div class="desc">
      ຫ້ອງຮຽນພາສາຈີນໄກ້ຈະເປີດຮຽນແລ້ວ ນັກຮຽນຄົນໃດສົນໃຈເຂົ້າມາລົງທະບຽນໄດ້ເລີຍເດີ້.
      <div style="margin-top: 20px; text-align: center;">
        <a class="button12" href="{% url 'subscription' %}">🌐 ລົງທະບຽນຮຽນອອນລາຍ</a>
      </div>
    </div>
  </div>

  <div class="gallery-itemm">
    <div class="galleryyy">
      <img src="{% static 'images/Media2.png' %}" alt="กิจกรรม 2">
    </div>
    <div class="desc">
      ນ້ອງໆ ທີ່ກຳລັງຈະຈົບ ມ ປາຍ ... <br><br>
      <strong>ສາຂາ:</strong><br>
      1. ໄອທີ ...<br>
      2. ເອນີເມຊັນ ...<br>
      3. ກຣາບຟິກ ...<br><br>
      📞 020 55 566 21766
      <div style="margin-top: 20px; text-align: center;">
        <a class="button12" href="{% url 'subscription' %}">🌐 ລົງທະບຽນຮຽນອອນລາຍ</a>
      </div>
    </div>
  </div>

</div>

 

  <!-- ສ່ວນສະແດງຊື່ສາຂາ -->
 <div class="w3-container" style="margin-top: 40px;">
  <h3 style="background-color: LightSteelBlue; padding: 10px;">
    ຫຼັກສູດຝຶກອົບຮົມຄ໌ອສໄລຍະສັ້ນ
  </h3>
  <ul class="w3-ul w3-hoverable horizontal-list">
    <li>ສາຂາເຕັກໂນໂລຊີຂໍ້ມູນຂ່າວສານ<br><small>(Information Technology)</small></li>
    <li>ສາຂາອອກແບບກາຟຟິກ<br><small>(Graphic & Multimedia)</small></li>
    <li>ສາຂາບໍລິຫານທຸລະກິດ<br><small>(Business Administration)</small></li>
  </ul>
</div>


  <div class="w3-container" style="margin-top: 40px;">
  <h3 style="background-color: LightSteelBlue; padding: 10px;">
    ຫຼັກສູດຝຶກອົບຮົມຄ໌ອສໄລຍະສັ້ນ
  </h3>
  <ul class="w3-ul w3-hoverable horizontal-list">
    <li>ສາຂາເຕັກໂນໂລຊີຂໍ້ມູນຂ່າວສານ<br><small>(Information Technology)</small></li>
    <li>ສາຂາອອກແບບກາຟຟິກ<br><small>(Graphic & Multimedia)</small></li>
    <li>ສາຂາບໍລິຫານທຸລະກິດ<br><small>(Business Administration)</small></li>
  </ul>
</div>

<div class="w3-container" style="margin-top: 40px;">
  <h3 style="background-color: LightSteelBlue; padding: 10px;">
    ຫຼັກສູດຝຶກອົບຮົມຄ໌ອສໄລຍະສັ້ນ
  </h3>
  <ul class="w3-ul w3-hoverable horizontal-list">
    <li>ສາຂາເຕັກໂນໂລຊີຂໍ້ມູນຂ່າວສານ<br><small>(Information Technology)</small></li>
    <li>ສາຂາອອກແບບກາຟຟິກ<br><small>(Graphic & Multimedia)</small></li>
    <li>ສາຂາບໍລິຫານທຸລະກິດ<br><small>(Business Administration)</small></li>
  </ul>
</div>

</div>
{% endblock %}
