{% extends 'components/base.html' %}
{% load static %}
{% block site_title %}ສາຂາຮຽນ |{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'main45.css' %}">
<div class="form-page-container">
  <div class="main-panel">
    <h2 class="form-title">ສາຂາຮຽນທີ່ມີໃນວິທະຍາໄລ</h2>
    <p class="form-note">ທ່ານສາມາດເລືອກສາຂາຮຽນທີ່ສົນໃຈໃນການລົງທະບຽນ</p>

    <div class="table-responsive">
    <table class="subject-table">
      <thead>
        <tr>
          <th>ລຳດັບ</th>
          <th>ຊື່ສາຂາຮຽນ</th>
          <th>ສະຖານະ</th>
        </tr>
      </thead>
    <tbody>
{% for subject in subjects %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ subject.name }}</td>
    
    <td>
      <a href="{% url 'subject_detail' subject.pk %}">
        <div class="photo-status">
          {% if subject.photo %}
            <img src="{{ subject.photo.url }}" alt="{{ subject.name }}" class="subject-photo">
          {% endif %}
          <span class="course-label">
            {% if subject.is_premium %}
                  <i class="fas fa-star"></i> ຫຼັກສູດພິເສດ
            {% else %}
                  <i class="fas fa-graduation-cap"></i> ຫຼັກສູດທົ່ວໄປ
            {% endif %}
          </span>
        </div>
      </a>
    </td>
  </tr>
{% empty %}
  <tr><td colspan="3">ບໍ່ມີຂໍ້ມູນສາຂາຮຽນ</td></tr>
{% endfor %}
</tbody>
    </table>
    </div>

    <div style="margin-top: 30px; text-align: center;">
      <a class="button12" href="{% url 'subscription' %}">ລົງທະບຽນເຂົ້າຮຽນ</a>
    </div>
  </div>
</div>
{% endblock %}
